# Игнорировать конфиги с токенами
config.js
.env
secrets.*
*.token

# Игнорировать папку с приватными файлами
/private/

# Игнорировать node_modules (если используете npm)
node_modules/

# Игнорировать системные файлы
.DS_Store
