/* Анимация текста "Да" */
@keyframes fadeInLetters {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Анимация для подчеркивания и блока приглашения */
.underline {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out 1.5s forwards; /* Появляется после "Да" */
}

.invitation-block {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out 2s forwards; /* Появляется чуть позже подчеркивания */
  text-align: right;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/*.yes-text {
  font-family: 'Pacifico', cursive;
  font-size: 12rem;
  color: var(--text-color);
  margin-bottom: 10px;
  display: flex;
}*/

.letter-d {
  display: inline-block;
  animation: fadeInLetters 1.5s ease-out forwards;
  opacity: 0;
}

.letter-a {
  display: inline-block;
  animation: fadeInLetters 1.5s ease-out 0.5s forwards;
  opacity: 0;
  text-transform: lowercase;
}

.underline {
  height: 2px;
  width: 60%;
  background: var(--gold);
  margin: 10px 0 20px;
  margin-left: auto;
}

.invitation-block {
  text-align: right;
  margin-top: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .yes-text {
    font-size: 8rem;
  }
  
  .underline {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .yes-text {
    font-size: 6rem;
  }
  
  .underline {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .scroll-down-text {
    font-size: 0.7rem; /* Ещё меньше на мобильных */
  }

@media (max-width: 1024px) { /* Для планшетов 11" */
  .scroll-down {
    display: flex !important;
  }
}
  
  .scroll-down svg {
    width: 18px;
    height: 28px;
  }
}
