/* Карточки */
.detail-card {
    background: white;
    padding: 40px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.05);
    transition: transform 0.3s;
}

.detail-card:hover {
    transform: translateY(-10px);
}

/* Кнопки */
/*button {
    background-color: var(--gold);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
}
    */

button:hover {
    background-color: var(--primary-color);
}

/* Форма RSVP */
#rsvp-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  color: var(--text-color);
}

input, select, textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: var(--text-color);
}

button[type="submit"] {
  background-color: var(--gold);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: var(--primary-color);
}

/* Адаптация для мобильных */
@media (max-width: 768px) {
  #rsvp-form {
    padding: 0 15px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input, select, textarea {
    padding: 10px 12px;
  }
  
  button[type="submit"] {
    padding: 12px 20px;
  }
}